<h3>Ciao ciao!</h3>


<form name="evento">

    <p>
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" ng-model="model.eventForm.name">
    </p>
    <p>
        <label for="date">Date:</label>
        <input id="date" name="date" type="text" ng-model="model.eventForm.date">
    </p>
    <p>
        <label for="description">Description:</label>
        <textarea id="description" name="date" type="text" ng-model="model.eventForm.description"></textarea>
    </p>

</form>